@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  background-color: black;
  font-family: "Raleway",  sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.active {
  background-color: white;
  color: #1a202c;
}
